##############################################################################
# Environment Definistion Sample

# Basic Info
TIMEZONE="Asia/Tokyo"
NEW_PRIM_PASSWD='xxxxxxxxxx'

CLUSTER_NAME="cluster1"
CLUSTER_VIP="xxx.xxx.xxx.xxx"
#DATA_SVC_IP=""
CVM_IPS="xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx"
DNS_SERVERS="xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx"
NTP_SERVERS="xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx"

# Network Visualization
HOST_ADDRESSES="xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx"
COMMUNITY="com1"
SWITCH_ADDRESS="xxx.xxx.xxx.xxx"
SNMP_PROFILE_NAME='SNMP Profile'

# Network VLAN

# HTTP PROXY
HTTP_PROXY_NAME=""
HTTP_PROXY_ADDRESS="xxx.xxx.xxx.xxx"
HTTP_PROXY_TYPES="HTTP,HTTPS"
HTTP_PROXY_PORT=8080
#HTTP_PROXY_USERNAME="xxxxxxxx"
#HTTP_PROXY_PASSWORD="xxxxxxxxxx"

# Syslog
SYSLOG_LEVEL="ERROR"
SYSLOG_SERVER_NAME="xxxxxxxx"
SYSLOG_SERVER_ADDRESS="xxx.xxx.xxx.xxx"
SYSLOG_SERVER_PORT=514
SYSLOG_PROTOCOL="udp"
SYSLOG_MODULES="ACROPOLIS,AUDIT,CASSANDRA,CEREBRO,CURATOR,GENESIS,PRISM,STARGATE,ZOOKEEPER,SYSLOG_MODULE"

# Storage
CONTAINER_NAME="Container1"
STORAGE_POOL_NAME="SP1"
